<div class="container">
    <h1>Manage Incomes</h1>
    <div class="col-xs-9 manage-income-left">
       Amount Category
    </div>
    <div class="col-xs-3">
        Add
        <%= render 'form' %>
    </div>
</div>