<div class="container">
    <h1>Manage Income Categories</h1>
     <%= link_to "Add New Income Category", new_income_category_path, class: 'btn btn-default' %>
 <br><br>

    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @income_categories.each do |income_category| %>
      <tr>
        <td><%= income_category.category_name %></td>
        <td><%= link_to "Edit", edit_income_category_path(id: income_category.id), class: 'btn btn-default' %></td>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>